@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans antialiased bg-gray-900 text-gray-100;
    }

    .container {
        @apply px-3;
    }

    .icon {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-size: inherit;
        line-height: 1;
        width: 1em;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
    }

    .icon path {
        fill: currentColor;
    }

    .h1 {
        @apply text-xl font-bold tracking-tight;
    }

    .h2 {
        @apply text-lg font-bold tracking-tight;
    }

    .app {
        @apply bg-gray-800 rounded-xl border border-black;
    }

    .app-inner {
        @apply border border-gray-700 rounded-xl p-4;
    }

    .btn {
        @apply relative inline-block py-1 px-3 text-sm tracking-wide text-gray-200 hover:text-white bg-gray-800 rounded border border-gray-900 hover:shadow transition;
    }

    .btn::after {
        content: '';
        @apply absolute top-0 right-0 bottom-0 left-0 rounded border border-gray-700;
    }

    .btn.btn-active {
        @apply border-gray-600;
    }

    .btn.btn-active::after {
        @apply border-gray-500;
    }

    .select {
        @apply inline-block z-20 py-1 pl-3 pr-5 text-sm tracking-wide text-gray-200 hover:text-white bg-gray-800 rounded border border-gray-700 outline-2 outline-gray-700 transition;
        box-shadow: 0 0 0 1px theme('colors.gray.900');
    }

    .stats-table td {
        @apply py-0.5 px-2 text-sm;
    }

    .stats-table th {
        @apply py-0.5 px-2 text-left text-xs font-bold uppercase;
    }

    .stats-table .bonus {
        @apply text-right;
        font-variant-numeric: tabular-nums;
    }

    .stats-table .divider {
        @apply h-3;
    }

    .item-grid {
        @apply flex flex-wrap gap-0.5;
    }

    .single-item {
        @apply h-[50px] w-[50px] text-xs break-words overflow-hidden cursor-pointer;
    }
}
