@font-face {
    font-family: 'Martian Mono SemiExpanded';
    src: local('Martian Mono SemiExpanded Regular'), local('MartianMono-SemiExpandedRegular'),
    url('assets/MartianMono-SemiExpandedRegular.woff2') format('woff2'),
    url('assets/MartianMono-SemiExpandedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-mono antialiased bg-gradient-to-b from-gray-900 to-gray-950 text-gray-100;
    }

    .container {
        @apply sm:px-3;
    }

    .icon {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-size: inherit;
        line-height: 1;
        width: 1em;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
    }

    .icon path {
        fill: currentColor;
    }

    .h1 {
        @apply text-xl font-bold tracking-tight;
    }

    .h2 {
        @apply text-lg font-bold tracking-tight;
    }

    .app {
        @apply max-w-full bg-gray-800 border-y sm:border border-black sm:rounded-xl ;
    }

    .app-inner {
        @apply max-w-full border-y sm:border border-gray-700 sm:rounded-xl p-3 sm:p-4 overflow-x-auto;
    }

    .btn {
        @apply relative inline-block py-1 px-3 text-sm tracking-wide text-gray-200 hover:text-white bg-gray-800 rounded border border-gray-900 hover:shadow transition;
    }

    .btn::after {
        content: '';
        @apply absolute top-0 right-0 bottom-0 left-0 rounded border border-gray-700;
    }

    .btn.btn-active {
        @apply border-gray-600;
    }

    .btn.btn-active::after {
        @apply border-gray-500;
    }

    .select {
        @apply block w-full py-1 px-2 text-sm tracking-wide text-gray-200 hover:text-white bg-gray-800 rounded border border-gray-700 outline-2 outline-gray-700 transition;
        box-shadow: 0 0 0 1px theme('colors.gray.900');
    }

    .input {
        @apply block w-full py-1 px-2 text-sm tracking-wide text-gray-200 hover:text-white bg-gray-800 rounded border border-gray-700 outline-2 outline-gray-700 transition;
        box-shadow: 0 0 0 1px theme('colors.gray.900');
    }

    .input::placeholder {
        @apply text-gray-500;
    }

    .stats-table {
        @apply w-full table-fixed text-xs sm:text-sm;
    }

    .stats-table td {
        @apply py-0.5 px-1 sm:px-2 align-top;
    }

    .stats-table th {
        @apply py-0.5 px-1 sm:px-2 text-left text-xs font-bold uppercase;
    }

    .stats-table .bonus {
        @apply text-right;
        font-variant-numeric: tabular-nums;
    }

    .stats-table .divider {
        @apply h-3;
    }

    .item-grid {
        @apply flex flex-wrap gap-0.5;
    }

    .single-item {
        @apply h-[40px] w-[40px] sm:h-[50px] sm:w-[50px] text-xxs break-words overflow-hidden cursor-pointer;
    }

    .modal-wrapper {
        @apply absolute z-30 left-0 top-0 right-0 bottom-0;
    }

    .modal-container {
        @apply max-h-full mx-auto px-3 sm:px-0 py-8 overflow-y-auto overscroll-y-contain;
    }

    .modal {
        @apply relative z-40 w-full max-w-3xl bg-gray-800 rounded-xl border border-gray-900 mx-auto shadow-xl;
    }

    .modal-inner {
        @apply rounded-xl border border-gray-700 p-4;
    }
}
